<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <style>
        body { margin: 50px; }
        th { padding: 5px; }

        /* Just so that everyone is able to see :) */
        body, th, td, a { font-size: 1.5em; }
    </style>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>
Add a new type of peanutbutter:<br>
<br>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-success">submit</button>
</form>
</body>
</html>